In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('oasis.csv')
df.head(5)

,Subject,M/F,Hand,YOB,UDS A1: Sub Demos,UDS B6: GDS,UDS B8: Phys. Neuro Findings,Psych Assessments,UDS A2: Informant Demos,UDS B7: FAQs,UDS D1: Clinician Diagnosis,UDS A5: Sub Health Hist.,UDS B2: HIS and CVD,UDS A3: Partcpt Family Hist.,PETs,UDS B3: UPDRS,MR Sessions,UDS B9: Clin. Judgements,ADRC Clinical Data,UDS B5: NPI-Q
0,OAS30001,F,R,NaN,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,7.0,9.0,4,9.0,12,9.0
1,OAS30002,M,R,NaN,8.0,8.0,8.0,7.0,8.0,8.0,8.0,8.0,8.0,8.0,3.0,8.0,4,8.0,8,8.0
2,OAS30003,F,R,NaN,6.0,6.0,6.0,NaN,6.0,6.0,6.0,6.0,6.0,6.0,5.0,6.0,6,6.0,8,6.0
3,OAS30004,F,L,NaN,3.0,3.0,3.0,NaN,3.0,3.0,3.0,3.0,3.0,3.0,4.0,3.0,4,3.0,4,3.0
4,OAS30005,F,R,NaN,3.0,3.0,3.0,NaN,3.0,3.0,3.0,3.0,3.0,3.0,5.0,3.0,6,3.0,4,3.0

In [3]:
print(df['Subject'].is_unique)
df.rename(columns={'M/F':'sex'}, inplace=True)
df.head(5)

True

,Subject,sex,Hand,YOB,UDS A1: Sub Demos,UDS B6: GDS,UDS B8: Phys. Neuro Findings,Psych Assessments,UDS A2: Informant Demos,UDS B7: FAQs,UDS D1: Clinician Diagnosis,UDS A5: Sub Health Hist.,UDS B2: HIS and CVD,UDS A3: Partcpt Family Hist.,PETs,UDS B3: UPDRS,MR Sessions,UDS B9: Clin. Judgements,ADRC Clinical Data,UDS B5: NPI-Q
0,OAS30001,F,R,NaN,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,7.0,9.0,4,9.0,12,9.0
1,OAS30002,M,R,NaN,8.0,8.0,8.0,7.0,8.0,8.0,8.0,8.0,8.0,8.0,3.0,8.0,4,8.0,8,8.0
2,OAS30003,F,R,NaN,6.0,6.0,6.0,NaN,6.0,6.0,6.0,6.0,6.0,6.0,5.0,6.0,6,6.0,8,6.0
3,OAS30004,F,L,NaN,3.0,3.0,3.0,NaN,3.0,3.0,3.0,3.0,3.0,3.0,4.0,3.0,4,3.0,4,3.0
4,OAS30005,F,R,NaN,3.0,3.0,3.0,NaN,3.0,3.0,3.0,3.0,3.0,3.0,5.0,3.0,6,3.0,4,3.0

In [4]:
brain_dir = './OASIS3/'
error_brain_dir = './oasis_missing_data/'

brain_files = np.array([f for f in os.listdir(brain_dir)])
num_images = len(brain_files)
print(num_images)
print(brain_files[:4])

440
['OAS30785_MR_d0096' 'OAS30514_MR_d1526' 'OAS30313_MR_d0048'
 'OAS30714_MR_d0444']

In [5]:
paths = []
filenames = []
# r=root, d=directories, f = files
for r, d, f in os.walk(brain_dir):
    for file in f:
        if '.nii.gz' in file:
            paths.append(os.path.join(r, file))
            filenames.append(file)

for f,p in zip(filenames[:5], paths[:5]):
    print(f)
    print(p)

sub-OAS30785_ses-d0096_T1w.nii.gz
./OASIS3/OAS30785_MR_d0096/anat2/NIFTI/sub-OAS30785_ses-d0096_T1w.nii.gz
sub-OAS30514_ses-d1526_T1w.nii.gz
./OASIS3/OAS30514_MR_d1526/anat2/NIFTI/sub-OAS30514_ses-d1526_T1w.nii.gz
sub-OAS30313_ses-d0048_T1w.nii.gz
./OASIS3/OAS30313_MR_d0048/anat2/NIFTI/sub-OAS30313_ses-d0048_T1w.nii.gz
sub-OAS30714_ses-d0444_run-02_T1w.nii.gz
./OASIS3/OAS30714_MR_d0444/anat3/NIFTI/sub-OAS30714_ses-d0444_run-02_T1w.nii.gz
sub-OAS30714_ses-d0444_run-01_T1w.nii.gz
./OASIS3/OAS30714_MR_d0444/anat2/NIFTI/sub-OAS30714_ses-d0444_run-01_T1w.nii.gz

In [6]:
filename_id = [fname[4:12] for fname in filenames]
filename_id[:5]

['OAS30785', 'OAS30514', 'OAS30313', 'OAS30714', 'OAS30714']

In [7]:
sex = [df.loc[df['Subject'] == subj].sex.values[0].lower() for subj in filename_id]
for s in sex:
    if not (s == 'f' or s == 'm'):
        print('error')

In [8]:
print(len(filename_id))
print(len(filenames))
print(len(paths))
print(len(sex))

688
688
688
688

### Búum til nýja csv skrá

In [9]:
d = {"subject": filename_id, "file":filenames, "path": paths, "sex": sex}
new_df = pd.DataFrame(data=d)
new_df.head(5)

,subject,file,path,sex
0,OAS30785,sub-OAS30785_ses-d0096_T1w.nii.gz,./OASIS3/OAS30785_MR_d0096/anat2/NIFTI/sub-OAS...,m
1,OAS30514,sub-OAS30514_ses-d1526_T1w.nii.gz,./OASIS3/OAS30514_MR_d1526/anat2/NIFTI/sub-OAS...,f
2,OAS30313,sub-OAS30313_ses-d0048_T1w.nii.gz,./OASIS3/OAS30313_MR_d0048/anat2/NIFTI/sub-OAS...,m
3,OAS30714,sub-OAS30714_ses-d0444_run-02_T1w.nii.gz,./OASIS3/OAS30714_MR_d0444/anat3/NIFTI/sub-OAS...,f
4,OAS30714,sub-OAS30714_ses-d0444_run-01_T1w.nii.gz,./OASIS3/OAS30714_MR_d0444/anat2/NIFTI/sub-OAS...,f

In [10]:
new_df.to_csv("OASIS_orig_path_labels.csv", sep=',')

In [11]:
print(new_df['file'].is_unique)

True