In [2]:
import os
import numpy as np
import pandas as pd

In [65]:
df1 = pd.read_csv('OASIS3_labels.csv')
df1.head(5)

    subject                                               file  age sex
0  OAS30748  ./OASIS3_brains/sub-OAS30748_ses-d0219_run-02_... -1.0   f
1  OAS30760  ./OASIS3_brains/sub-OAS30760_ses-d3837_run-01_... -1.0   m
2  OAS30734  ./OASIS3_brains/sub-OAS30734_ses-d0097_run-02_... -1.0   f
3  OAS30967  ./OASIS3_brains/sub-OAS30967_ses-d0854_run-02_... -1.0   f
4  OAS30314  ./OASIS3_brains/sub-OAS30314_ses-d7814_run-01_... -1.0   f

In [66]:
df2 = pd.read_csv('IXI_labels.csv')
df2.head(5)

  subject                                     file    age sex
0  IXI277    ./IXI_brains/IXI277-HH-1770-T1.nii.gz  61.34   f
1  IXI043  ./IXI_brains/IXI043-Guys-0714-T1.nii.gz  22.65   f
2  IXI115  ./IXI_brains/IXI115-Guys-0738-T1.nii.gz  72.13   m
3  IXI225  ./IXI_brains/IXI225-Guys-0832-T1.nii.gz  47.01   f
4  IXI206    ./IXI_brains/IXI206-HH-1650-T1.nii.gz  50.02   f

In [67]:
print('OASIS:',len(df1),'IXI:',len(df2))

OASIS: 557 IXI: 561

In [68]:
df1_inicies = np.random.permutation(len(df1))

In [69]:
df2_inicies = np.random.permutation(len(df2))

In [70]:
df1_test = df1.loc[df1_inicies[0:50]]
df1_val = df1.loc[df1_inicies[50:100]]
df1_train = df1.loc[df1_inicies[100:]]

In [71]:
df2_test = df2.loc[df2_inicies[0:50]]
df2_val = df2.loc[df2_inicies[50:100]]
df2_train = df2.loc[df2_inicies[100:]]

In [72]:
df1_test.to_csv("OASIS3_test.csv", sep=',', index=False)
df1_val.to_csv("OASIS3_val.csv", sep=',', index=False)
df1_train.to_csv("OASIS3_train.csv", sep=',', index=False)

df2_test.to_csv("IXI_test.csv", sep=',', index=False)
df2_val.to_csv("IXI_val.csv", sep=',', index=False)
df2_train.to_csv("IXI_train.csv", sep=',', index=False)

In [75]:
validation = df1_val.append(df2_val, ignore_index=True)
train = df1_train.append(df2_train, ignore_index=True)

In [78]:
train.head(5)

    subject                                               file  age sex
0  OAS30966  ./OASIS3_brains/sub-OAS30966_ses-d0903_run-01_... -1.0   m
1  OAS30900  ./OASIS3_brains/sub-OAS30900_ses-d0051_T1w.nii.gz -1.0   m
2  OAS30792  ./OASIS3_brains/sub-OAS30792_ses-d1556_T1w.nii.gz -1.0   f
3  OAS30782  ./OASIS3_brains/sub-OAS30782_ses-d0074_run-01_... -1.0   m
4  OAS30559  ./OASIS3_brains/sub-OAS30559_ses-d2422_T1w.nii.gz -1.0   m

In [79]:
train = train.sample(frac=1)
validation = validation.sample(frac=1)
train.head(5)

      subject                                               file    age sex
249  OAS30534  ./OASIS3_brains/sub-OAS30534_ses-d1174_run-02_...  -1.00   m
426  OAS30535  ./OASIS3_brains/sub-OAS30535_ses-d0139_run-02_...  -1.00   f
27   OAS30749  ./OASIS3_brains/sub-OAS30749_ses-d0046_run-02_...  -1.00   m
824    IXI063            ./IXI_brains/IXI063-Guys-0742-T1.nii.gz  41.12   m
718    IXI560            ./IXI_brains/IXI560-Guys-1070-T1.nii.gz  63.87   m

In [80]:
validation.head(5)

     subject                                               file    age sex
21  OAS30535  ./OASIS3_brains/sub-OAS30535_ses-d1329_T1w.nii.gz  -1.00   f
85    IXI476             ./IXI_brains/IXI476-IOP-1140-T1.nii.gz  78.36   f
36  OAS30309  ./OASIS3_brains/sub-OAS30309_ses-d0094_T1w.nii.gz  -1.00   f
93    IXI319            ./IXI_brains/IXI319-Guys-0901-T1.nii.gz  59.47   m
22  OAS30966  ./OASIS3_brains/sub-OAS30966_ses-d0189_run-02_...  -1.00   m

In [81]:
print(len(train),len(validation))

918 100

In [82]:
validation.to_csv("validation.csv", sep=',', index=False)
train.to_csv("train.csv", sep=',', index=False)

In [17]:
df3 = pd.read_csv('openfmri_labels.csv')
df3.head(5)

        subject                                   file   age sex
0  openfmri0000  ./openfmri/ds000001_sub-01_T1w.nii.gz  26.0  -1
1  openfmri0001  ./openfmri/ds000001_sub-02_T1w.nii.gz  24.0  -1
2  openfmri0002  ./openfmri/ds000001_sub-03_T1w.nii.gz  27.0  -1
3  openfmri0003  ./openfmri/ds000001_sub-04_T1w.nii.gz  20.0  -1
4  openfmri0004  ./openfmri/ds000001_sub-05_T1w.nii.gz  22.0  -1

In [18]:
def rename_path(x):
    return x.replace("./openfmri/", "./openfmri_brains/", 1)

In [19]:
df3.file = df3.file.apply(rename_path)

        subject                                          file   age sex
0  openfmri0000  ./openfmri_brains/ds000001_sub-01_T1w.nii.gz  26.0  -1
1  openfmri0001  ./openfmri_brains/ds000001_sub-02_T1w.nii.gz  24.0  -1
2  openfmri0002  ./openfmri_brains/ds000001_sub-03_T1w.nii.gz  27.0  -1
3  openfmri0003  ./openfmri_brains/ds000001_sub-04_T1w.nii.gz  20.0  -1
4  openfmri0004  ./openfmri_brains/ds000001_sub-05_T1w.nii.gz  22.0  -1

In [27]:
len(df3)
df3.head(5)

        subject                                          file   age sex
0  openfmri0000  ./openfmri_brains/ds000001_sub-01_T1w.nii.gz  26.0  -1
1  openfmri0001  ./openfmri_brains/ds000001_sub-02_T1w.nii.gz  24.0  -1
2  openfmri0002  ./openfmri_brains/ds000001_sub-03_T1w.nii.gz  27.0  -1
3  openfmri0003  ./openfmri_brains/ds000001_sub-04_T1w.nii.gz  20.0  -1
4  openfmri0004  ./openfmri_brains/ds000001_sub-05_T1w.nii.gz  22.0  -1

In [21]:
df3_inicies = np.random.permutation(len(df3))

In [22]:
df3_test = df3.loc[df3_inicies[0:100]]
df3_val = df3.loc[df3_inicies[100:200]]
df3_train = df3.loc[df3_inicies[200:]]

In [23]:
df3_test.to_csv("openfmri_test.csv", sep=',', index=False)
df3_val.to_csv("openfmri_val.csv", sep=',', index=False)
df3_train.to_csv("openfmri_train.csv", sep=',', index=False)

In [26]:
df1_val = pd.read_csv('OASIS3_val.csv')
df1_train = pd.read_csv('OASIS3_train.csv')

df2_val = pd.read_csv('IXI_val.csv')
df2_train = pd.read_csv('IXI_train.csv')

In [30]:
frames_val = [df1_val, df2_val, df3_val]
frames_train = [df1_train, df2_train, df3_train]

In [31]:
validation = pd.concat(frames_val)
train = pd.concat(frames_train)

train = train.sample(frac=1)
validation = validation.sample(frac=1)

print(len(train),len(validation))
train.head(5)

2994 200

,subject,file,age,sex
431,OAS30959,./OASIS3_brains/sub-OAS30959_ses-d1301_run-02_...,-1.00,f
247,IXI625,./IXI_brains/IXI625-Guys-1098-T1.nii.gz,47.07,m
543,openfmri0543,./openfmri_brains/ds000109_sub-09_T1w.nii.gz,37.00,m
89,OAS30746,./OASIS3_brains/sub-OAS30746_ses-d0035_T1w.nii.gz,-1.00,f
382,openfmri0382,./openfmri_brains/ds000030_sub-70065_T1w.nii.gz,24.00,m

In [32]:
validation.to_csv("validation.csv", sep=',', index=False)
train.to_csv("train.csv", sep=',', index=False)

In [33]:
train.head(30)

,subject,file,age,sex
431,OAS30959,./OASIS3_brains/sub-OAS30959_ses-d1301_run-02_...,-1.00,f
247,IXI625,./IXI_brains/IXI625-Guys-1098-T1.nii.gz,47.07,m
543,openfmri0543,./openfmri_brains/ds000109_sub-09_T1w.nii.gz,37.00,m
89,OAS30746,./OASIS3_brains/sub-OAS30746_ses-d0035_T1w.nii.gz,-1.00,f
382,openfmri0382,./openfmri_brains/ds000030_sub-70065_T1w.nii.gz,24.00,m
141,OAS30792,./OASIS3_brains/sub-OAS30792_ses-d0106_run-02_...,-1.00,f
568,openfmri0568,./openfmri_brains/ds000109_sub-43_T1w.nii.gz,26.00,f
426,OAS30535,./OASIS3_brains/sub-OAS30535_ses-d0139_run-02_...,-1.00,f
705,openfmri0705,./openfmri_brains/ds000116_sub-16_T1w.nii.gz,25.00,f
1369,openfmri1369,./openfmri_brains/ds000212_sub-39_T1w.nii.gz,46.00,m
126,openfmri0126,./openfmri_brains/ds000011_sub-09_T1w.nii.gz,21.00,f
1672,openfmri1672,./openfmri_brains/ds000228_sub-pixar074_T1w.ni...,7.95,m
766,openfmri0766,./openfmri_brains/ds000119_sub-65_T1w.nii.gz,10.05,f
1437,openfmri1437,./openfmri_brains/ds000214_sub-EESS039_T1w.nii.gz,42.00,f
687,openfmri0687,./openfmri_brains/ds000115_sub-97_T1w.nii.gz,23.59,f
402,openfmri0402,./openfmri_brains/ds000053_sub-006_T1w.nii.gz,20.00,f
234,openfmri0234,./openfmri_brains/ds000030_sub-11061_T1w.nii.gz,45.00,f
1134,openfmri1134,./openfmri_brains/ds000202_sub-1025_T1w.nii.gz,22.00,f
185,openfmri0185,./openfmri_brains/ds000030_sub-10575_T1w.nii.gz,23.00,m
1847,openfmri1847,./openfmri_brains/ds000238_sub-19_T1w.nii.gz,25.00,m
145,IXI653,./IXI_brains/IXI653-Guys-1122-T1.nii.gz,46.22,m
794,openfmri0794,./openfmri_brains/ds000120_sub-16_T1w.nii.gz,17.10,m
833,openfmri0833,./openfmri_brains/ds000121_sub-28_T1w.nii.gz,17.14,m
378,openfmri0378,./openfmri_brains/ds000030_sub-70057_T1w.nii.gz,25.00,m
1681,openfmri1681,./openfmri_brains/ds000228_sub-pixar083_T1w.ni...,7.28,f
1226,openfmri1226,./openfmri_brains/ds000203_sub-22_T1w.nii.gz,54.00,f
141,IXI549,./IXI_brains/IXI549-Guys-1046-T1.nii.gz,25.02,f
558,openfmri0558,./openfmri_brains/ds000109_sub-29_T1w.nii.gz,67.00,f
1017,openfmri1017,./openfmri_brains/ds000168_sub-34_T1w.nii.gz,19.00,f
965,openfmri0965,./openfmri_brains/ds000157_sub-01_T1w.nii.gz,24.00,f

In [ ]:
df1_test = pd.read_csv('OASIS3_test.csv')
df2_test = pd.read_csv('IXI_test.csv')
df3_test = pd.read_csv('openfmri_test.csv')
frames_test = [df1_test, df2_test, df3_test]
df_test = pd.concat(frames_test)
df_test.to_csv("test.csv", sep=',', index=False)