In [64]:
import os
import numpy as np
import pandas as pd

In [65]:
df1 = pd.read_csv('OASIS3_labels.csv')
df1.head(5)

    subject                                               file  age sex
0  OAS30748  ./OASIS3_brains/sub-OAS30748_ses-d0219_run-02_... -1.0   f
1  OAS30760  ./OASIS3_brains/sub-OAS30760_ses-d3837_run-01_... -1.0   m
2  OAS30734  ./OASIS3_brains/sub-OAS30734_ses-d0097_run-02_... -1.0   f
3  OAS30967  ./OASIS3_brains/sub-OAS30967_ses-d0854_run-02_... -1.0   f
4  OAS30314  ./OASIS3_brains/sub-OAS30314_ses-d7814_run-01_... -1.0   f

In [66]:
df2 = pd.read_csv('IXI_labels.csv')
df2.head(5)

  subject                                     file    age sex
0  IXI277    ./IXI_brains/IXI277-HH-1770-T1.nii.gz  61.34   f
1  IXI043  ./IXI_brains/IXI043-Guys-0714-T1.nii.gz  22.65   f
2  IXI115  ./IXI_brains/IXI115-Guys-0738-T1.nii.gz  72.13   m
3  IXI225  ./IXI_brains/IXI225-Guys-0832-T1.nii.gz  47.01   f
4  IXI206    ./IXI_brains/IXI206-HH-1650-T1.nii.gz  50.02   f

In [67]:
print('OASIS:',len(df1),'IXI:',len(df2))

OASIS: 557 IXI: 561

In [68]:
df1_inicies = np.random.permutation(len(df1))

In [69]:
df2_inicies = np.random.permutation(len(df2))

In [70]:
df1_test = df1.loc[df1_inicies[0:50]]
df1_val = df1.loc[df1_inicies[50:100]]
df1_train = df1.loc[df1_inicies[100:]]

In [71]:
df2_test = df2.loc[df2_inicies[0:50]]
df2_val = df2.loc[df2_inicies[50:100]]
df2_train = df2.loc[df2_inicies[100:]]

In [72]:
df1_test.to_csv("OASIS3_test.csv", sep=',', index=False)
df1_val.to_csv("OASIS3_val.csv", sep=',', index=False)
df1_train.to_csv("OASIS3_train.csv", sep=',', index=False)

df2_test.to_csv("IXI_test.csv", sep=',', index=False)
df2_val.to_csv("IXI_val.csv", sep=',', index=False)
df2_train.to_csv("IXI_train.csv", sep=',', index=False)

In [75]:
validation = df1_val.append(df2_val, ignore_index=True)
train = df1_train.append(df2_train, ignore_index=True)

In [78]:
train.head(5)

    subject                                               file  age sex
0  OAS30966  ./OASIS3_brains/sub-OAS30966_ses-d0903_run-01_... -1.0   m
1  OAS30900  ./OASIS3_brains/sub-OAS30900_ses-d0051_T1w.nii.gz -1.0   m
2  OAS30792  ./OASIS3_brains/sub-OAS30792_ses-d1556_T1w.nii.gz -1.0   f
3  OAS30782  ./OASIS3_brains/sub-OAS30782_ses-d0074_run-01_... -1.0   m
4  OAS30559  ./OASIS3_brains/sub-OAS30559_ses-d2422_T1w.nii.gz -1.0   m

In [79]:
train = train.sample(frac=1)
validation = validation.sample(frac=1)
train.head(5)

      subject                                               file    age sex
249  OAS30534  ./OASIS3_brains/sub-OAS30534_ses-d1174_run-02_...  -1.00   m
426  OAS30535  ./OASIS3_brains/sub-OAS30535_ses-d0139_run-02_...  -1.00   f
27   OAS30749  ./OASIS3_brains/sub-OAS30749_ses-d0046_run-02_...  -1.00   m
824    IXI063            ./IXI_brains/IXI063-Guys-0742-T1.nii.gz  41.12   m
718    IXI560            ./IXI_brains/IXI560-Guys-1070-T1.nii.gz  63.87   m

In [80]:
validation.head(5)

     subject                                               file    age sex
21  OAS30535  ./OASIS3_brains/sub-OAS30535_ses-d1329_T1w.nii.gz  -1.00   f
85    IXI476             ./IXI_brains/IXI476-IOP-1140-T1.nii.gz  78.36   f
36  OAS30309  ./OASIS3_brains/sub-OAS30309_ses-d0094_T1w.nii.gz  -1.00   f
93    IXI319            ./IXI_brains/IXI319-Guys-0901-T1.nii.gz  59.47   m
22  OAS30966  ./OASIS3_brains/sub-OAS30966_ses-d0189_run-02_...  -1.00   m

In [81]:
print(len(train),len(validation))

918 100

In [82]:
validation.to_csv("validation.csv", sep=',', index=False)
train.to_csv("train.csv", sep=',', index=False)